@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: "poppins";
    font-weight: 300;
}

nav {
    padding: 20px;
    background-color: rgb(22, 22, 22);
    height: 50px;
    display: flex;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
}

nav li {
    color: rgb(193, 174, 112);
    display: inline;
    padding-left: 20px;
    padding-right: 20px;

    &:hover {
        cursor: pointer;
        color: gray;
    }
}

nav img {
    height: 50px;
    object-fit: contain;
    scale: 2;
    transform: scaleX(-1);
}

nav .account {
    color: rgb(193, 174, 112);
    float: right;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    background: transparent;
    margin-left: 20px;
}

nav .account a {
    text-decoration: none;
    color: rgb(193, 174, 112);

    &:hover {
        cursor: pointer;
        color: gray;
    }
}

.highlight {
    background-position: center;
    display: flex;
    height: 90vh;
    text-align: center;
    justify-content: center;
}

.highlight img{
    width: 100vw;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.highlight_text {
    padding: 18%;
    position: absolute;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.highlight mark {
    background-color: transparent;
}

.highlight #intro {
    color: white;
    font-size: 32px;
}

.highlight #title {
    color: white;
    font-size: 58px;
    font-weight: 1000;
}

.highlight #text {
    color: white;
    font-size: 20px;
}

/* Description */

.description {
    height: 70vh;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
}

.information {
    margin-left: 35%;
    width: 50%;
}

.description img {
    margin-left: 20%;
    height: 50vh;
    object-fit: contain;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.description mark {
    background-color: transparent;
    font-size: 28px;
    font-weight: 800;
}

/* Loyalty */
.loyalty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(193, 174, 112);
    box-shadow: rgba(0, 0, 0, 0.3) 0px -19px 38px, rgba(0, 0, 0, 0.22) 0px -15px 12px;
    overflow: hidden;
}

.loyalty h1 {
    font-size: 42px;
}

.container2 {
    margin-left: 50px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 50;
    box-sizing: border-box;
}

.container2 mark {
    background-color: transparent;
}

.cards {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 330px;
    height: 200px;
    object-fit: contain;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    scale: 0.8;

    &:hover {
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    }
}

.card_container {
    width: 80%;
    height: 100%;
    text-align: center;
}

.card_container #title {
    font-size: 20px;
    font-weight: 800;
}

.card_container #info {
    font-size: 14px;
}

.cards img {
    height: 110%;
}

/* footer */

footer {
    border-top: 1px solid black;
    width: 100vw;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 0px;
    justify-content: center;
    align-items: center;
}


footer .logo {
    margin-top: 80px;
    transform: scaleX(-1);
    height: 10vh;
    object-fit: contain;
}

footer .links {
    margin-left: 100px;
}
footer .links img {
    width: 30px;
    height: 30px;

    &:hover {
        cursor: pointer;
    }
}

.footer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_head {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 100px;
    row-gap: 100px;
    line-height: 50px;
}

.footer mark {
    background-color: transparent;
    font-size: 24px;
    font-weight: 800;
}

.footer a {
    text-decoration: none;
    color: black;

    &:hover {
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    }
}


/* login */
#cover {
    text-align: center;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 50%;
    height: 50%;
    background-color: antiquewhite;
}

.form .inputs {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.form input {
    padding: 20px;
    border: 1px solid black;
    width: 350px;
    height: 40px;
    border-radius: 5px;
}

.form .options {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.form #remember {
    width: 15px;
    height: 15px;
}

.form #remember_label {
    position: absolute;
    left: 32%;
}

.form a {
    text-decoration: none;
    color: black;
}

.form .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 12px;
}

.form button {
    width: 80px;
    height: 30px;
}

.form img {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 25px;
    height: 25px;

    &:hover {
        cursor: pointer;
    }
}