<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FlyHigh - Shopping Cart</title>
        <link rel="shortcut icon" href="../static/Assets/store.svg" type="image/x-icon">
        <link rel="stylesheet" href="../static/css/cart.css">
    </head>
    <body>
        <header>
            <nav>
                <a href="{{url_for('home')}}"><img src="../static/Assets/logo.png" alt=""></a>
                <ul>
                    <li><a href="">PLAN TRAVEL</a></li>
                    <li><a href="">FLYING WITH US</a></li>
                    <li><a href="{{url_for('store')}}">STORE</a></li>
                    <li><a href="">FLY HIGH/FREQUENT FLIER</a></li>
                    <li><a href="{{url_for('account_summary')}}">ACCOUNT</a></li>
                </ul>
                <div id="account">
                    <a href="javascript:void(0);" onclick="login_show()">LOGIN</a> | <a href="{{url_for('signup')}}">SIGN UP</a>
                </div>
                <div id="logout">
                    <a href="javascript:void(0);" onclick="logout();">LOG OUT</a>
                </div>
            </nav>
        </header>

        <div class="container">
            <section class="details">
                <div class="page">
                    <h1 class="title">Shopping Cart</h1><br>
                    <hr>
                    <br>
                    <!-- <div class="item">
                        <img src="https://placehold.co/150x150" alt="">
                        <p id="product">Product Name <br> Details</p>
                        <div class="amount">
                            <button class="minus">-</button>
                            <input type="text" name="amount" id="quantity" placeholder="0" style="width: 50px; text-align: center;">
                            <button class="plus">+</button>
                        </div>

                        <p class="price">AUD $0</p>

                        <button class="remove">Remove</button>

                    </div> -->
                </div>
                <div class="hold">
                    <div class="summary">

                        <div class="part1">

                            <br>
                            <h1 class="title">Summary</h1>
                            <br>
                            <hr>
                            <br>
        
                            <div id="amount">
                                <p id="count">ITEMS 0</p> <p id="right">AUD $0</p>
                            </div>
        
                            <br>
                            <br>
                            <br>
        
                            <div class="ship">
                                <h1 id="label">Shipping</h1>
                                <select name="ship" id="shipping">
                                    <option value="none" disabled selected>Select a delivery</option>
                                    <option value="5">Same Day Delivery - AUD $5</option>
                                    <option value="free">5-7 Business Days - FREE</option>
                                </select>
                            </div>
        
                            <div class="code">
                                <h1 id="label">Code</h1>
                                <input type="text" name="promo" id="promo" placeholder="Enter your code">
                            </div>
    
                            <br>
                            <hr>
                            <br>
                            <div id="total">
                                <p id="left">TOTAL PRICE</p> <p id="total_price">AUD $0</p>
                            </div>
                            
                        </div>
    
                        <br>
                        <button onclick="checkout();">CHECKOUT</button>
                    </div>
                </div>
            </section>
        </div>
        
    </body>
    <script src="../static/javascript/cart.js"></script>
</html>