<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlyHigh - Sign up</title>
    <link rel="stylesheet" href="../static/css/signup.css">
    <link rel="shortcut icon" href="../static/Assets/account.svg" type="image/svg+xml">
</head>
<body>
    <div id="cover">
        <div class="form">
            <a href=""><img src="../static/Assets/close.svg" alt="" id="close"> </a>
            <h1>LOGIN</h1>
            <div class="inputs">
                <input type="text" id="email_input" placeholder="Fly High number / Email Address">
                <input type="password" id="password_input" placeholder="Password">
                <div class="options">
                    <input type="checkbox" name="checkb" id="remember"> 
                    <label for="checkb" id="remember_label">Remember me</label>
                    <a href="">Reset Password</a>
                </div>
            </div>
            <button onclick="login();">Login</button>
            <div class="buttons">
                <a href="">Forgot Memebership number</a>
                <p>Not a FlyHigh member? <a href="">Join now</a></p>
            </div>
        </div>
    </div>
    <header>
        <nav>
            <a href="{{url_for('home')}}"><img src="../static/Assets/logo.png" alt=""></a>
            <ul>
                <li><a href="">PLAN TRAVEL</a></li>
                <li><a href="">FLYING WITH US</a></li>
                <li><a href="{{url_for('store')}}">STORE</a></li>
                <li><a href="{{url_for('faq')}}">FAQ</a></li>
                <li><a href="{{url_for('account_summary')}}">ACCOUNT</a></li>
            </ul>
            <div id="account">
                <a href="javascript:void(0);" onclick="login_show()">LOGIN</a> | <a href="{{url_for('signup')}}">SIGN UP</a>
            </div>
            <div id="logout">
                <a href="javascript:void(0);" onclick="logout();">LOG OUT</a>
            </div>
        </nav>
    </header>

    <div class="main">
        <section class="signup">

            <div class="intro">
                <h1>Sign up and take off</h1>
                <p>Creating an account saves you time when booking a flight. And if you become a FlyHigh member, you'll also enjoy exclusive perks and privileges. It only takes a minute.</p>
                <p>Already a Registered Customer or FlyHigh member? <a href="javascript:void(0);" onclick="login_show()">Log in</a></p>
                <br>
                <br>
            </div>
            <br>
            <div class="container">
                <br>
                <br>

                <h1>CREATE ACCOUNT</h1>

                <div class="top">
                    
                    <div class="subtitle">
                        <h2 id="subtitle">Sign up with your details</h2>
                        
                        <p id="p1">Complete all the fields marked with * </p>
                        
                        <!-- <p id="p2">Register as FlyHigh member?</p> -->
                    </div>
<!--                     
                    <div class="radio">
                        <input type="radio" name="yes" id="yes">
                        <label for="yes">Yes</label>
                        
                        <input type="radio" name="no" id="no">
                        <label for="no">No</label>
                    </div> -->
                </div>
                    <br>
                    <br>
                <div class="form-signup">
                    
                    <div class="first_name">
                        <label for="first_name">First Name *</label><br>
                        <input type="text" name="first_name" id="first_name" placeholder="First Name">
                    </div>
                    
                    <div class="last_name">
                        <label for="last_name">Last Name *</label><br>
                        <input type="text" name="last_name" id="last_name" placeholder="Last Name">
                    </div>
                    
                    <div class="email">
                        <label for="email">Email address *</label><br>
                        <input type="text" name="email" id="email" placeholder="johndoe@gmail.com">
                    </div>
                    
                    <div class="dob">
                        <label for="dob">Date of birth *</label><br>
                        <input type="text" name="dob" id="dob" placeholder="DD / MM / YY">
                    </div>
                    
                    <div class="password">
                        <label for="password">Create Password *</label><br>
                        <input type="password" name="password" id="password" placeholder="Password">
                    </div>

                    <div class="address">
                        <label for="address">Address *</label><br>
                        <input type="text" name="address" id="address" placeholder="Address">
                    </div>
                    
                    <!-- <div class="departure">
                        <label for="departure">Select your preffered country of departure</label><br>
                        <select name="departure" id="departure">
                            <option value="" disabled selected>Select a country</option>
                            <option value="US">United States</option>
                            <option value="FR">France</option>
                            <option value="IT">Italy</option>
                            <option value="ES">Spain</option>
                            <option value="JP">Japan</option>
                            <option value="TH">Thailand</option>
                            <option value="AU">Australia</option>
                            <option value="CN">China</option>
                            <option value="IN">India</option>
                            <option value="GB">United Kingdom</option>
                            <option value="MX">Mexico</option>
                            <option value="DE">Germany</option>
                            <option value="GR">Greece</option>
                            <option value="TR">Turkey</option>
                            <option value="AE">United Arab Emirates</option>
                            <option value="BR">Brazil</option>
                            <option value="CA">Canada</option>
                            <option value="SG">Singapore</option>
                            <option value="ID">Indonesia</option>
                            <option value="MY">Malaysia</option>
                            <option value="EG">Egypt</option>
                        </select>
                    </div> -->
                    
                    <div class="password_info">
                        <p>Your password must contain 8 to 16 alphanumeric characters and should be a combination of a number (0-9), lowercase letter (a-z), uppercase letter (A-Z) and special character (!@#$%^&*()).</p>
                    </div>

                </div>
                
                <br>
                <br>
                <br>
                <p id="policy"> Please read our <a href="">privacy policy</a> for information on how customised social media advertising works and how we handle your data.</p>
            
                <div class="accept">
                    <input type="checkbox" name="accept" id="accept">
                    <label for="accept">By submitting my information, I acknowledge and accept the terms of FlyDreamAir Airlines’ Privacy Policy, terms and conditions of the Registered Customer account and consent to receive Singapore Airlines Group communications (news & offers) & Partner Promotions.</label>
                </div>
                <br>
                <br>
                <button class="create" onclick="update();">Create Account</button>
                <br>
                <br>
                <br>
            </div>
        </section>
        <br>
        <br>
        <section class="footer">
            <div class="footer_head">
                <p>
                    <mark id="header">COMPANY</mark> <br> <a href="">Corporate policies</a> <br> <a href="">Investor relations</a> <br> <a href="">Sustainability</a> <br> <a href="">Sponsorships</a> <br> <a href="">Tender notice</a> <br> <a href="">Careers</a> <br> <a href="FlyingHighLab"></a><br>
                </p>
                <p>
                    <mark id="header">GROUP PARTNER</mark> <br> <a href="">FlyingHighShop</a> <br> <a href="">FlyH+</a> <br> <a href="">Agent360</a> <br> <a href="">FlyConnect</a> <br>
                </p>
                <p>
                    <mark id="header">WHERE WE FLY</mark> <br> <a href="">From Australia</a> <br> <a href="">Flights to countries</a> <br> <a href="">Flights to cities</a> <br>
                </p>
                <p>
                    <mark id="header">SUPPORT</mark> <br> <a href="">FAQs</a> <br> <a href="">Help</a> <br> <a href="">Chatbot</a> <br> <a href="">Contact Us</a> <br> <a href="">Feedback</a> <br> <a href="">Mange voucher</a> <br> <a href="">User Engagement</a> <br>
                </p>
            </div>
            <br>
            <footer>
                <img class="logo" src="../static/Assets/logo.png" alt=""><br>
                <div class="info"><p><a href="">Privacy policy</a> | <a href="">Cookie policy</a> | <a href="">Terms & Conditions</a> | <a href="">Keep your data safe</a> | <a href="">Report Vulnerability</a></p></div>
                <br><div class="info2"><p>Hyperlinks with this icon are links to third-party websites. Use of such websites is subject to their terms and conditions.</p></div>
                <div class="links">
                    <img src="../static/Assets/linkedin.png" alt="">
                    <img src="../static/Assets/twitter.png" alt="">
                    <img src="../static/Assets/youtube.svg" alt="">
                    <img src="../static/Assets/instagram.png" alt="">
                </div>

            </footer>
        </section>
    </div>
    
</body>
<script src="../static/javascript/signup.js"></script>
</html>