<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FlyHigh - Store</title>
        <link rel="shortcut icon" href="../static/Assets/store.svg" type="image/svg+xml">
        <link rel="stylesheet" href="../static/css/store.css">
    </head>
    <body>
        <div id="cover">
            <div class="form">
                <img href="" src="../static/Assets/close.svg" alt="" id="close">
                <h1>LOGIN</h1>
                <div class="inputs">
                    <input type="text" id="email" placeholder="Fly High number / Email Address">
                    <input type="password" id="password" placeholder="Password">
                    <div class="options">
                        <input type="checkbox" name="checkb" id="remember"> 
                        <label for="checkb" id="remember_label">Remember me</label>
                        <a href="">Reset Password</a>
                    </div>
                </div>
                <button onclick="login();">Login</button>
                <div class="buttons">
                    <a href="">Forgot Memebership number</a>
                    <p>Not a FlyHigh member? <a href="">Join now</a></p>
                </div>
            </div>
        </div>
        <header>
            <nav>
                <a href="{{url_for('home')}}"><img src="../static/Assets/logo.png" alt=""></a>
                <ul>
                    <li><a href="">PLAN TRAVEL</a></li>
                    <li><a href="">FLYING WITH US</a></li>
                    <li><a href="{{url_for('store')}}">STORE</a></li>
                    <li><a href="{{url_for('faq')}}">FAQ</a></li>
                    <li><a href="{{url_for('account_summary')}}">ACCOUNT</a></li>
                </ul>
                <div id="account">
                    <a href="javascript:void(0);" onclick="login_show()">LOGIN</a> | <a href="{{url_for('signup')}}">SIGN UP</a>
                </div>
                <div id="logout">
                    <a href="javascript:void(0);" onclick="logout();">LOG OUT</a>
                </div>

                <div id="cart">
                    <a href="{{url_for('cart')}}"><img class="cart" src="../static/Assets/cart.svg" alt=""></a>
                </div>
            </nav>
        </header>

        <div class="container">

            <section class="flights">

                <h1 id="title">Flights</h1>
                <p id="details">Book flights to earn points</p>

                <div class="hold">

                    <div id="card" data-destination="Sydney to Brisbane" data-price="AUD $300" data-points="+65000 PTS" data-quantity="1" data-image="../static/Assets/location6.jpg">

                        <div class="image">
                            <img src="../static/Assets/location6.jpg" alt="">
                        </div>
        
                        <div class="location">
                            <p><strong>Sydney to Brisbane</strong></p>
                            <p>Economy round from</p>
                        </div>
        
                        <div class="details">
                            <p id="left">AUD $300</p> <p id="right">+65000 PTS</p>
                        </div>

                        <button class="flight_btn">Book</button>
        
                    </div>
        
                    <div id="card" data-destination="Sydney to Hobart" data-price="AUD $500" data-points="+105000 PTS" data-quantity="1" data-image="../static/Assets/location1.jpg">
        
                        <div class="image">
                            <img src="../static/Assets/location1.jpg" alt="">
                        </div>
        
                        <div class="location">
                            <p><strong>Sydney to Hobart</strong></p>
                            <p>Economy round from</p>
                        </div>
        
                        <div class="details">
                            <p id="left">AUD $500</p> <p id="right">+105000 PTS</p>
                        </div>
        
                        <button class="flight_btn">Book</button>
        
                    </div>

                    <div id="card" data-destination="Sydney to Adelaide" data-price="AUD $600" data-points="+12000 PTS" data-quantity="1" data-image="../static/Assets/location5.jpg">
        
                        <div class="image">
                            <img src="../static/Assets/location5.jpg" alt="">
                        </div>
        
                        <div class="location">
                            <p><strong>Sydney to Adelaide</strong></p>
                            <p>Economy round from</p>
                        </div>
        
                        <div class="details">
                            <p id="left">AUD $600</p> <p id="right">+12000 PTS</p>
                        </div>
        
                        <button class="flight_btn">Book</button>
        
                    </div>

                </div>
                
                    
            </section>

            <section class="hotels">
                <hr>
                
                <h1 id="title">Hotels</h1>
                <p id="details">Book hotels to earn points</p>

                <div class="hold">

                    <div id="card" data-destination="Spicer Sangoma" data-price="AUD $2387" data-points="+55000 PTS" data-quantity="1" data-image="../static/Assets/location3.png">

                        <div class="image">
                            <img src="../static/Assets/location3.png" alt="">
                        </div>
        
                        <div class="location">
                            <p><strong>Spicer Sangoma Retreat</strong></p>
                            <p>70 Grandview Ln, Bowen Mountain NSW 2753</p>
                        </div>
        
                        <div class="details">
                            <p id="left">AUD $2387</p> <p id="right">+55000 PTS</p>
                        </div>

                        <button class="hotel_btn">Book</button>
        
                    </div>
        
                    <div id="card" data-destination="InterContinental Hayman Great Barrier Reef" data-price="AUD $831" data-points="+95000 PTS" data-quantity="1" data-image="../static/Assets/location4.jpg">
        
                        <div class="image">
                            <img src="../static/Assets/location4.jpg" alt="">
                        </div>
        
                        <div class="location">
                            <p><strong>InterContinental Hayman Great Barrier Reef</strong></p>
                            <p>Hayman Island Whitsunday Islands, Hayman Island QLD 4802</p>
                        </div>
        
                        <div class="details">
                            <p id="left">AUD $831</p> <p id="right">+95000 PTS</p>
                        </div>
        
                        <button class="hotel_btn">Book</button>
        
                    </div>

                    <div id="card" data-destination="Amarna Luxury Beach Resort" data-price="AUD $777" data-points="+10000 PTS" data-quantity="1" data-image="../static/Assets/location2.jpg">
        
                        <div class="image">
                            <img src="../static/Assets/location2.jpg" alt="">
                        </div>
        
                        <div class="location">
                            <p><strong>Amarna Luxury Beach Resort</strong></p>
                            <p>16 Christmas Bush Ave, Nelson Bay NSW 2315</p>
                        </div>
        
                        <div class="details">
                            <p id="left">AUD $777</p> <p id="right">+10000 PTS</p>
                        </div>
        
                        <button class="hotel_btn">Book</button>
        
                    </div>

                </div>

            </section>

            <section class="products">

                <hr>
                
                <h1 id="title">Products</h1>
                <p id="details">Buy products to earn points</p>

                <div class="hold">

                    <div id="card" data-product="Ipad 10th Gen" data-price="AUD $1500" data-points="+15500 PTS" data-quantity="1" data-image="../static/Assets/ipad.jpg">

                        <div class="image">
                            <img src="../static/Assets/ipad.jpg" alt="">
                        </div>
        
                        <div class="location">
                            <p><strong>Ipad 10th Gen</strong></p>
                            <p>Apple</p>
                        </div>
        
                        <div class="details">
                            <p id="left">AUD $1500</p> <p id="right">+15500 PTS</p>
                        </div>

                        <button class="product_btn">Buy</button>
        
                    </div>
        
                    <div id="card" data-product="Airpods 2nd Gen" data-price="AUD $250" data-points="+2500 PTS" data-quantity="1" data-image="../static/Assets/airpods.jpg">
        
                        <div class="image"">
                            <img src="../static/Assets/airpods.jpg" alt="">
                        </div>
        
                        <div class="location">
                            <p><strong>Airpods 2nd Gen</strong></p>
                            <p>Apple</p>
                        </div>
        
                        <div class="details">
                            <p id="left">AUD $250</p> <p id="right">+2500 PTS</p>
                        </div>
        
                        <button class="product_btn">Buy</button>
        
                    </div>

                    <div id="card" data-product="Macbook M3 2024" data-price="AUD $2000" data-points="+20000 PTS" data-quantity="1" data-image="../static/Assets/laptop.jpg">
        
                        <div class="image">
                            <img src="../static/Assets/laptop.jpg" alt="">
                        </div>
        
                        <div class="location">
                            <p><strong>Macbook M3 2024</strong></p>
                            <p>Apple</p>
                        </div>
        
                        <div class="details">
                            <p id="left">AUD $2000</p> <p id="right">+20000 PTS</p>
                        </div>
        
                        <button class="product_btn">Buy</button>
        
                    </div>

                </div>

            </section>

        </div>
        
    </body>
    <script src="../static/javascript/store.js"></script>
</html>